@import url('');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bahnschrift Condensed', 'Calibri';
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #000000;
}

h2 {
    font-size:  46px;
    line-height: 54px;
    color: #000000;
}

h4 { 
    font-weight: 700;
    font-size: 12px;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p { 
    font-size: 16px;
    color: #000000;
    margin: 15px 0 28px 0;
}

.section-p1 {
    padding: 40px 80px
}

.section-m1 {
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000000;
    background-color: #b59f9f7a;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline:none;
    transition: 0.2s;
}

body { 
    width: 100%;
}

#header { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #fffffffd; 
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left:435px;
}

#navbar li {
    list-style: none;
    padding: 0 25px;
    position: relative;
}

#navbar li a { 
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active { 
    color:#808080;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #808080;
    position: absolute;
    bottom: -4px;
    left: 30px;
}

/* home page */
#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 550px;
  }
  
  #hero .homeimg {
    width: auto;
    height: 100%;
    text-align: center;
  }
  
  #hero .homeimg img {
    vertical-align: middle;
  }
  

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70,62,221,0.1);
}

#feature .fe-box img{
    width:70%;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6{
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(3) h6{
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(4) h6{
    background-color: #cdebbc;
}

#product1{
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid rgba(255, 255, 255, 0);
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
}

#product1 .pro img{
    width: 100%;
}

#product .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product .pro .des span{
    color:black;
    font-size: 12px;
}

#product .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product .pro .des h4{
    padding-top: 7px;
    font-size: 15px; 
    font-weight: 700;
}

#banner{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    text-align: center;
    background-image: url("abstract.png");
    width:100%;
    height: 25vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color:#fff;
    font-size: 20px;
}

#banner h2{
    color:#fff;
    font-size: 40px;
}

#banner h6{
    color:#ffffff;
    font-size: 10px;
    padding:10px;
}

#banner button:hover{
    background: #088178;
    color: #ffff;
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("Picture1.jpg");
    min-width: 580px;
    height:50vh;
    background-size: cover;
    background-position: center;
    padding:30px;
}

#sm-banner h4{
    color:#000;
    font-size: 20px;
    font-weight: 1000;
}

#sm-banner span{
    padding-bottom:15px;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding:11px 18px;
    color: #000;
    background-color: transparent;
    cursor:pointer;
    border: 1px solid #000;
    outline: none;
    transition: 0.2s;
}

#sm-banner .banner-box:hover button{
    background: #088178;
    border: 1px solid #088178;
    color: #ffff;
    transition:0.2s;
}

#sm-banner .banner-box2{
    background-image: url("Untitled-21_2000X.jpg");
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("NovaMidline_Rosebud_004.jpg");
    min-width: 30%;
    height:30vh;
    background-size: cover;
    background-position: center;
    padding:20px;
    margin-bottom: 20px;
}

#banner3 h2{
    color:#000;
    font-weight: 900;
    font-size:22px;
}

#banner3 h3{
    color:#ec544e;
    font-weight: 800;
    font-size:20px;
}

#banner3{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    padding:0 80px;
}

#banner3 .banner-box2{
    background-image: url("trainer.jpg");
}

#banner3 .banner-box3{
    background-image: url("889.jpg");
}

#banner3 h2{
    font-weight: 1500;
    font-size: 25px;
}

#newsletter{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    align-items: center;
    background-image: url("");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter h4{
    font-size: 22px;
    font-weight:700;
    color:#fff;
}

#newsletter p{
    font-size:14px;
    font-weight:600;
    color:#818ea0;
}

#newsletter p span{
    color:#ebab17;
}

#newsletter input{
    height:3.125rem;
    padding:0 1.25em;
    font-size: 14px;
    width:100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline:none;
    border-top-left-radius: 0;
    border-bottom-left-radius:0;
}

#newsletter button.normal{
    background-color: #088178;
    color:#ffff;
    white-space:nowrap;
}

#newsletter .form{
    display:flex;
    width:40%;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom:20px;
}

footer .logo{
    margin-left:-15px;
}

footer h4{
    font-size: 20px;
    padding-bottom: 15px;
}

foot p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img{
    border: 1px solid #088178;
    border-radius:6px;
}

footer .install img{
    margin: 10px 0 15px;
}

footer .follow i:hover, footer a:hoover{
    color:#088178;
}

footer .copyright{
    width:100%;
    text-align: center;
}


/** .popup{
    width:400px;
    background:#fff;
    border-radius:6px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 0 30px 30px;
    color:#333;
}

.popup h2{
    font-size: 38px;
    font-weight:500;
    margin:30px 0 10px;
}

.popup button{
    width:100%;
    margin-top:50px;
    padding: 10px 0
}
? **/

#page-header{
    background-image: url("shophtmlpics/banner1.jpg");
    width:100%;
    height:40vh;
    background-size:cover;
    display:flex;
    justify-content: center;
    text-align:center;
    flex-direction: column;
}

#prodetails .single-pro-image{
    width:40%;
    margin-right:20px;
}
.small-img-group{
    display:flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis:32%;
    cursor:pointer;
}

#prodetails{
    display:flex;
    margin-top:20px;
}


#prodetails .single-pro-details{
    width:50%;
    padding-top:30px;
}

#prodetails .single-pro-details h6{
    font-size:20px;
}

#prodetails .single-pro-details h4{
    padding:25px 0 20px 0;
    font-size:35px;
}

#prodetails .single-pro-details h2{
    font-size:30px;
}

#prodetails .single-pro-details select{
    display:block;
    padding: 5px 10px;
    margin-bottom:10px;
}

#prodetails .single-pro-details input{
    width:50px;
    height:47px;
    padding-left:10px;
    font-size:16px;
    margin-right:10px;
}

#prodetails .single-pro-details input:focus{
    outline:none;
}

#prodetails .single-pro-details button{
    background:#088178;
    color:#fff;
}

#prodetails .single-pro-details span{
    line-height:25px;
    color:rgba(60, 60, 60, 0.804);
}

#page-header.blog-header{
    background-image: url("blog/bookbanner.jpg");
}

#blog{
    padding: 150px 150px 0 150px;
}

#blog .blog-box{
    display:flex;
    align-items:center;
    width:100%;
        position:relative;
    padding-bottom:90px;
}

#blog .blog-img{
    width: 50%;
    margin-right:40px;
}

#blog img {
    float: left;
    width:  500px;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details{
    width:60%;
}

#blog .blog-details a{
    text-decoration:none;
    font-size:15px;
    color:#000;
    font-weight:700; position:relative;
    transition:0.3s;
}

#blog .blog-details a::after{
    content:"";
    width:50px;
    height:1px;
    background-color: #000;
    position:absolute;
    top:4px;
    right:-60px;
}

#blog .blog-details a:hover{
    color:#088178;
}

#blog .blog-details a:hover::after{
    background-color:#088178;
}

#blog .blog-box h1{
    position:absolute;
    top:-40px;
    left:0;
    font-size:70px;
    font-weight:700;
    color:#c9cbce;
    z-index:-9;
}


#blog .blog-details h4{
    font-size:30px;
    color:#000;
}

#blog .blog-details p{
    font-size:20px;
    color:#343232e4;
}

#page-header.about-header{
    background-image:url("about/banner.jpg")
}

#about-head{
    display:flex;
    align-items:center;
}

#about-head img{
    width:50%;
    height:auto;
}

#about-head div{
    padding-left:40px;
}

#about-persons{
    text-align: center;
}

#about-persons img{
    width:900px;
    height:800px;
    padding-top: 50px;
    padding-bottom:90px;
}

#contact-details li.item-1 {
    list-style: none;
    background-image: url('contact/icon-1.jpg');
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding-left: 20px;
    background-size: 10px 10px;
  }
  
 #contact-details li.item-2 {
    list-style: none;
    background-image: url('contact/icon-2.png');
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding-left: 20px;
    background-size: 10px 10px;

  }
  
#contact-details li.item-3 {
    list-style: none;
    background-image: url('contact/icon-3.jpg'); 
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding-left: 20px;
    background-size: 10px 10px;
  }

  #contact-details li.item-4 {
    list-style: none;
    background-image: url('contact/icon-4.jpg');
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding-left: 20px;
    background-size: 10px 10px;
    padding-top:10px;
  }

  #contact-details{
    display:flex;
    align-items:center;
    justify-content: space-between;
  }

  #contact-details .details span,#form-details form span{
    font-size:18px;
  }

  #contact-details .details h2,#form-details form h2{
    font-size:26px;
    line-height:35px;
    padding:20px 0;
  }

  #contact-details .details h3{
    font-size:16px;
    padding-bottom:15px;
  }

  #contact-details .details li{
    list-style:none;
    display:flex;
  }

  #contact-details .details li p{
    margin:0;
    font-size:14px;
  }

  #contact-details .map{
    width:55%;
    height:400px;
  }

  #contact-details .map iframe{
    width:100%;
    height:100%;
  }

  #form-details {
    display:flex;
    justify-content: space-between;
    margin:30px;
    padding:80px;
    border: 1px solid #e1e1e1;
  }

  #form-details form{
    width:65%;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
  }
  
  #form-details form input, #form-details form textarea{
    width:100%;
    padding:12px 15px;
    outline:none;
    margin-bottom:20px;
    border:1px solid #e1e1e1;
  }

  #form-details form button{
    background-color: #088177;
    color:#fff;
  }

  #cart table{
    width:100%;
    border-collapse:collapse;
    table-layout: fixed;
    white-space: nowrap;
  }

  #cart table img{
    width:70px;
  }

  #cart table td:nth-child(1){
    width:100px;
    text-align:center;
  }
  
  #cart table td:nth-child(2){
    width:150px;
    text-align:center;
  }

  #cart table td:nth-child(3){
    width:250px;
    text-align:center;
  }

  #cart table td:nth-child(4){
    width:150px;
    text-align:center;
  }

  #cart table td:nth-child(4),  
  #cart table td:nth-child(5),  
  #cart table td:nth-child(6){
    width:150px;
    text-align:center;
  }

  #cart table td:nth-child(5) input{
    width:70px;
    padding: 10px 5px 10px 15px;
  }

  #cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
  }

  #cart table thead td{
    font-weight:700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
  }
 
  #cart table tbody tr td{
    padding-top: 15px;
  }

  #cart table tbody td{
    font-size: 13px;
  }

  #card-add{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
  }

  #coupon{
    width:50%;
    margin-bottom:30px;
  }

  #coupon h3, #subtotal h3{
    padding-bottom:15px;
  }

  #coupon input{
    padding: 10px 20px;
    outline:none;
    width:60%;
    margin-right:10px;
    border:1px solid #e2e9e1;
  }

  #coupon button, #subtotal button{
    background: #088178;
    color:#fff;
  }

  #subtotal{
    width:50%;
    margin-bottom:30px;
    border:1px solid #e2e9e1; 
    padding:30px;
  }

  #subtotal table{
    border-collapse:collapse;
    width:100%;
    margin-bottom:20px;
  }

  #subtotal table td{
    width:50%;
    border:1px solid #e2e9e1;
    padding:10px;
    font-size: 13px;
  }